body {
    background-color: #4d4d4d;
}

img {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.center {
    margin-top: 5%;
    text-align: center;
}

#soon {
    color: #000000;
    font-family:sans-serif;
    letter-spacing: 3px;
}